// _colors.scss

// Export variables
:root {
  --primary-color: #8fb8ed;
  --primary-hover: #82b1ee;
  --secondary-color: #c2bbf0;
  --secondary-hover: #a49be2;
  --tertiary-color: #3590f3;
  --tertiary-hover: #2282eb;
  --background-color: #f1e3f3;
  --danger-color: #ff0e0e;
  --danger-hover: #ba1d10;
  --text-color: #1e1e1e;
  --secondary-text-color: #1d1b20;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  --AQI-good: #9dfd91;
  --AQI-fair: #fec808;
  --AQI-moderate: #fe8105;
  --AQI-poor: #f02200;
  --AQI-very-poor: #890997;
  --AQI-extremely-poor: #640015;
}
