:root {
  --primary-color: #8fb8ed;
  --primary-hover: #3590f3;
  --secondary-color: #c2bbf0;
  --secondary-hover: #a49bde;
  --tertiary-color: #62bfed;
  --background-color: #f1e3f3;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  --danger-color: #f44336;
  --danger-hover: #d32f2f;
  --info-color: #2196f3;
  --warning-color: #ff9800;
  --error-color: #f44336;
  --border-color: #eee;

  --AQI-good: #9dfd91;
  --AQI-fair: #fec808;
  --AQI-moderate: #fe8105;
  --AQI-poor: #f02200;
  --AQI-very-poor: #890997;
  --AQI-extremely-poor: #640015;
}

.primary-background {
  background: var(--background-color);
}
/*.primary-background-dark {
  background: var(--primary-theme-color-dark);
}
.primary-background-disabled {
  background: var(--primary-theme-color-light);
}*/

.secondary-background {
  background: var(--secondary-color);
}
/*
.secondary-background-dark {
  background: var(--secondary-theme-color-dark);
}
.secondary-background-disabled {
  background: var(--secondary-theme-color-light);
}*/
